<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.goodstore.purchase.cart">

<!-- 쇼핑 카트에서 장바구니에 담은 아이템 가져오기-->
<select id="selectItems" resultType="kr.co.goodstore.domain.purchase.ItemDomain" parameterType="int">
	select c.item_id,i.item_name,i.price,i.image,c.quantity,c.cart_id
	from  cart c, item i
	where c.item_id=i.item_id and c.member_id=#{memebr_id} and i.delete_flag='N'
</select>


<!-- 쇼핑카트에서 상품 개수 바꿔서 저장 -->
<update id="updateCartItem"  parameterType="kr.co.goodstore.vo.purchase.CartVO">
	update cart
	set quantity=#{quantity}
	where cart_id=#{cart_id}
</update>


<!--회원 배송지 정보 -->
<select id="selectAddress" resultType="kr.co.goodstore.domain.purchase.MemberDomain" parameterType="int">
	select name, tel, zipcode, address, address2
	from member
	where member_id=#{member_id}
</select>


<!-- 카트 상품 삭제 -->
<delete id="deleteCart"  parameterType="java.util.HashMap">
	delete from cart
	<where>
		<if test="listProduct.size!=0">
			cart_id in 
			<foreach collection="listProduct"  index="i" open="(" item="cart" separator="," close=")">
				#{cart}
			</foreach>
		</if>
	</where>	
</delete>



<!--쿠폰 정보 조회 -->
<select id="selectCoupon" resultType="kr.co.goodstore.domain.purchase.CouponDomain" parameterType="String">
	select coupon_id,name,discount_rate,discount_price,to_char(start_date,'yyyy-mm-dd') start_date,
	to_char(end_date,'yyyy-mm-dd') end_date
	from coupon
	where code=#{coupon_code} and use_flag='Y'
</select>


<!-- 주문 insert -->
<insert id="insertOrder" parameterType="kr.co.goodstore.vo.purchase.PurchaseVO">
	insert into orders(order_id,order_date,member_id,address_flag)
	values( 
		GOOD.SEQ_ORDER_ID.NEXTVAL,
		sysdate,
		#{member_id},
		#{address_flag}
		 )
</insert>


<!-- 주문 상세 insert -->
<insert id="insertOrderDetail" parameterType="kr.co.goodstore.vo.purchase.OrderDetailVO">
	insert into order_detail(order_id,amount,item_id,detail_id)
	values( 
		GOOD.SEQ_ORDER_ID.CURRVAL,
		#{amount},
		#{item_id},
		GOOD.SEQ_DETAIL_ID.NEXTVAL
		 )
</insert> 



<!-- 배송지 insert -->
<insert id="insertAddress" parameterType="kr.co.goodstore.vo.purchase.PurchaseVO">
	insert into address(order_id,zipcode,address,address2)
	
	values( 
		GOOD.SEQ_ORDER_ID.CURRVAL,
		#{zipcode},
		#{addr},
		#{addr2}
		 )
</insert>


<!-- 쿠폰 사용 insert -->
<insert id="insertUsedCoupon" parameterType="kr.co.goodstore.vo.purchase.PurchaseVO">
	insert into used_coupon(order_id,coupon_id)
	values( 
		GOOD.SEQ_ORDER_ID.CURRVAL,
		#{coupon_id}
		 )
</insert>



<!-- 쇼핑카트에서 상품 개수 바꿔서 저장 -->
<update id="updateCouponFlag"  parameterType="kr.co.goodstore.vo.purchase.PurchaseVO">
	update coupon
	set use_flag='N'
	where coupon_id=#{coupon_id}
</update>


<!-- 상품 구매 후 카트 상품 삭제 -->
<delete id="deleteCart2"  parameterType="java.util.HashMap">
	delete from cart
	<where>
		<if test="listProduct.length!=0">
			cart_id in 
			<foreach collection="listProduct"  index="i" open="(" item="cart" separator="," close=")">
				#{cart}
			</foreach>
		</if>
	</where>	
</delete>



<!--구매 직후 페이지에서 보여줄 정보 -->
<select id="selectOrderDetailComplete" 
	resultType="kr.co.goodstore.domain.purchase.MemberDomain" parameterType="int">
	select name, tel, zipcode, address, address2
	from member
	where member_id=#{member_id}
</select>




<!--회원 배송지 정보 -->
<select id="selectOrderSeq" resultType="int" >
	select GOOD.SEQ_ORDER_ID.CURRVAL from dual
</select>


<!--회원 배송지 정보 -->
<select id="selectOrderRightAfter"  resultType="kr.co.goodstore.domain.purchase.PurchaseSuccessDomain" 
		parameterType="int" >
	select i.image,i.item_name,od.amount,i.item_id
	from item i, order_detail od, orders o
	where od.order_id=o.order_id and od.item_id=i.item_id
	and od.order_id=#{order_id}
</select>



</mapper>