<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.goodstore.mapper.product.ProductMapper">

<sql id="sort">
	<if test="sort == null or sort == ''">
	order by i.upload_date desc
	</if>
	<if test="sort == 'item_name'">
	order by i.item_name
	</if>
	<if test="sort == 'price'">
	order by price
	</if>
	<if test="sort == 'price_high'">
	order by price desc
	</if>
	<if test="sort == 'upload_date'">
	order by i.upload_date desc
	</if>
	<if test="sort == 'wish_count'">
	order by wish_count desc nulls last
	</if>
</sql>

<resultMap type="pld" id="pldResult">
<result column="rnum" property="rnum"/>
<result column="item_id" property="item_id"/>
<result column="item_name" property="item_name"/>
<result column="image" property="image"/>
<result column="upload_date" property="upload_date"/>
<result column="price" property="price"/>
<result column="com_name" property="com_name"/>
<result column="com_type" property="com_type"/>
<result column="wish_count" property="wish_count"/>
<result column="category_name" property="category_name"/>
</resultMap>
<select id="productList" parameterType="plVO" resultMap="pldResult">
select rnum, it.*
from (
select row_number() over(<include refid="sort"/>) rnum, i.item_id, i.item_name, i.image, i.upload_date, 
i.price, c.name com_name, c.type com_type, nvl(w.wish_count,0) wish_count, category_name, i.category_id
from item i
JOIN company c
ON i.company_id = c.company_id
JOIN category cat
ON i.category_id = cat.category_id
LEFT OUTER JOIN (select item_id, count(*) wish_count from wishlist group by item_id) w
ON i.item_id = w.item_id
<where>
<if test="category_id != null and category_id != ''">
i.category_id=#{category_id}
</if>
<if test="keyword != null and keyword != ''">
<trim prefix="and" prefixOverrides="and">
item_name like '%'||#{keyword}||'%'
</trim>
</if>
</where>
) it
where rnum between 1 and #{item_count}
</select>


<resultMap type="pd" id="pdResult">
<result column="item_id" property="item_id"/>
<result column="item_name" property="item_name"/>
<result column="summary" property="summary"/>
<result column="description" property="description"/>
<result column="price" property="price"/>
<result column="image" property="image"/>
<result column="additional_info" property="additional_info"/>
<result column="com_name" property="com_name"/>
<result column="com_type" property="com_type"/>
<result column="category_name" property="category_name"/>
</resultMap>
<select id="productDetail" parameterType="int" resultMap="pdResult">
select i.item_id, item_name,summary,description,price,i.image,additional_info, 
		c.name com_name, c.type com_type, category_name
from item i
JOIN company c
on i.company_id = c.company_id
JOIN category cat
on i.category_id = cat.category_id
where i.item_id = #{item_id}
</select>


<select id="subImage" parameterType="int" resultType="sid">
select item_id, sub_image
from sub_image
where item_id=#{item_id}
</select>

<select id="productCategory" resultType="pcatd">
select category_id, category_name
from category
</select>

<select id="relatedProducts" parameterType="int" resultType="pld">
select * from item
where category_id = #{category_id}
</select>

<select id="productComment" parameterType="int" resultType="pcd">
select review, item_id, email, star, upload_date
from item_comment i
join member m
on i.member_id = m.member_id
where item_id=#{item_id}
order by upload_date
</select>

<select id="productCommentAdd" parameterType="pcommVO">
insert into item_comment(item_comment_id, review, item_id, member_id, star, upload_date)
values(seq_item_comment_id.nextval, '${review}', ${item_id}, ${member_id}, ${star}, SYSDATE)
</select>

<insert id="addCart" parameterType="pacVO">
insert into cart(member_id, item_id, cart_id, quantity)
values(#{member_id}, #{item_id}, SEQ_CART_ID.nextval, #{quantity})
</insert>

</mapper>